.login-container{
    border: 0px solid white; 
    padding-right: 0px;
    transition: 0.5s ;
    background-color: rgb(233, 230, 230);
    height: 100vh;
  }

  .login-form {
    border-radius: 25px;
    background-color: #73AD21;
    background-color: rgb(233, 230, 230);
    height: 50vh;
    margin-left: auto;
    margin-right: auto;
  }

  .login-content{
    margin-left: auto;
    margin-right: auto;
    width: 50vh;
  }

  .login-title{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 23vh;
    font-size: xx-large;
    font-weight: bold;
  }

  .login-input-field{
    margin-left: auto;
    margin-right: auto;
    width: 50vh;
    position: static;
  }

